# Python
__pycache__/
*.py[cod]
.venv/
venv/

# VS Code
.vscode/

# Generated data
data/processed/*
!data/processed/.gitkeep

# Generated artifacts

artifacts/**/*.csv

artifacts/figures/*
!artifacts/figures/.gitkeep

artifacts/tables/*
!artifacts/tables/.gitkeep

artifacts/models/*
!artifacts/models/.gitkeep

artifacts/tables/*.csv
artifacts/strategies/*.csv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db